* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

@media screen and (max-width: 1024px) {
  .primary-heading {
    font-size: 44px;
  }
  .description {
    font-size: 16px;
  }
  .start-btn,
  .learn-btn {
    font-size: 16px;
    padding: 12px 19px;
  }
  .delivered-meals {
    margin-top: 50px;
  }

  .deliver-imgs img {
    height: 35px;
    width: 35px;
  }
  .deliver-text {
    font-size: 16px;
  }
  .logos img {
    height: 28px;
  }
  .how-heading {
    font-size: 80px;
  }
  .how-title {
    font-size: 24px;
  }
  .how-description {
    font-size: 16px;
  }
}

@media screen and (max-width: 990px) {
  .primary-heading {
    text-align: center;
  }
  .description {
    font-size: 18px;
    text-align: center;
  }
  .hero-btns {
    display: flex;
    justify-content: center;
  }
  .delivered-meals {
    justify-content: center;
    margin-top: 40px;
  }
  .hero-img-box {
    text-align: center;
  }
  .hero-img {
    width: 60%;
    padding-top: 40px;
  }
  .logos img {
    height: 22px;
    justify-content: space-between !important;
  }

  .secondary-heading {
    font-size: 34px;
    margin-bottom: 66px;
  }
  .how-work-container {
    align-items: center;
  }
}

@media screen and (max-width: 965px) {
  .main-nav {
    justify-content: center;
    gap: 18px;
  }
}

@media screen and (max-width: 801px) {
  .nav-items {
    font-size: 16px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .Header {
    padding: 0 10px;
  }
  .main-nav {
    padding: 0;
    justify-content: center !important;
  }
  .logo {
    height: 18px;
  }
  .main-nav-list {
    gap: 16px;
    padding: 0;
  }
  .nav-items {
    font-size: 12px;
  }
  .primary-heading {
    font-size: 30px;
  }
  .try-btn {
    padding: 10px 16px;
  }
  .logos {
    flex-wrap: wrap;
    gap: 16px;
  }
  .logos img {
    height: 20px;
  }
  .secondary-heading {
    font-size: 20px;
    margin-bottom: 0px;
  }
  .how-work-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  .main-nav {
    padding: 0 10px;
    justify-content: center !important;
  }
  .main-nav-list {
    gap: 10px;
    padding: 0;
  }
  .nav-items {
    font-size: 12px;
  }
  .try-btn {
    padding: 8px 10px;
  }
  .logos {
    flex-wrap: wrap;
    gap: 16px;
  }
  .primary-heading {
    font-size: 30px;
  }
  .description {
    font-size: 15px;
  }
  .start-btn {
    font-size: 12px;
    padding: 14px 12px;
  }
  .learn-btn {
    font-size: 12px;
    padding: 14px 12px;
  }
  .delivered-meals {
    gap: 0px;
  }
  .deliver-imgs img {
    height: 30px;
    width: 30px;
  }
  .deliver-text {
    font-size: 10px;
  }
  .secondary-heading {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .how-work-container {
    flex-direction: column;
    padding-top: 0px !important;
  }
  .width {
    width: 100%;
  }
}
