* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1270px;
  }
}

@media screen and (max-width: 1034px) {
  .main-nav-list {
    gap: 25px;
  }

  .nav-item {
    font-size: 15px;
  }
  .primary-heading {
    font-size: 39px;
    margin-bottom: 29px;
  }
  .description {
    font-size: 18px;
    margin-bottom: 43px;
  }
  .start-btn {
    font-size: 18px;
    padding: 14px 29px;
  }
  .learn-btn {
    font-size: 18px;
    padding: 14px 29px;
  }
  .deliver-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 990px) {
  header {
    height: 120px;
  }

  .brand-logo {
    text-align: center;
    margin-bottom: 15px;
  }

  .main-nav-list {
    justify-content: center;
  }
  .primary-heading {
    font-size: 35px;
    margin-bottom: 25px;
    line-height: 1;
  }
  .hero-section {
    gap: 51px;
    text-align: center;
  }
  .hero-btn-section,
  .customer-section {
    justify-content: center;
  }
  .hero-img {
    width: 60%;
  }
}

@media screen and (max-width: 480px) {
  header {
    height: 90px;
  }
  .brand-logo {
    margin-bottom: 10px;
  }

  .logo {
    height: 14px;
  }

  .main-nav-list {
    padding: 0;
  }

  .nav-item {
    font-size: 7px;
    font-weight: 600;
  }

  .try-btn {
    padding: 9px 14px;
  }
}
