.Header {
  background-color: #fdf2e9;
  height: 90px;
}

.main-nav {
  padding: 0 48px;
}

.logo {
  height: 22px;
}

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 50px;
  margin-bottom: 0;
}

.nav-items {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.try-btn {
  padding: 12px 24px;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.Hero {
  background-color: #fdf2e9;
}

.hero-section {
  padding: 48px;
  justify-content: space-between;
  align-items: center;
}
.primary-heading {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.05;
  margin-bottom: 32px;
  color: #333;
}

.description {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
  color: #555;
  font-weight: 400;
}

.start-btn {
  text-decoration: none;
  background-color: #e67e22;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 16px 32px;
  border-radius: 9px;
  border: none;
  margin-right: 16px;
}

.learn-btn {
  text-decoration: none;
  background-color: #fff;
  color: #555;
  font-size: 20px;
  font-weight: 600;
  padding: 16px 32px;
  border-radius: 9px;
  border: none;
}

.delivered-meals {
  display: flex;
  gap: 16px;
  margin-top: 80px;
  align-items: center;
}

.deliver-imgs {
  display: flex;
}

.deliver-imgs img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-right: -16px;
  border: 3px solid #fdf2e9;
}

.deliver-imgs img:last-child {
  margin-right: 0;
}

.deliver-text {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}

.deliver-text span {
  color: #cf711f;
  font-weight: 700;
}

.logo-section {
  padding: 48px 0 32px;
}

.logo-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 24px;
  color: rgb(136, 136, 136);
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 32px;
  filter: brightness(0);
  color: rgb(136, 136, 136);
  opacity: 0.5;
}

.how-section {
  padding: 96px 0;
}
.subheading {
  display: block;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(207, 113, 31);
  margin-bottom: 16px;
  letter-spacing: 0.75px;
}

.secondary-heading {
  font-size: 44px;
  line-height: 1.2;
  margin-bottom: 96px;
  font-weight: 700;
  color: rgb(51, 51, 51);
  letter-spacing: -0.5px;
}

.how-heading {
  font-size: 86px;
  font-weight: 600;
  color: rgb(221, 221, 221);
  margin-bottom: 12px;
}
.how-title {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 32px;
  font-weight: 700;
  color: rgb(51, 51, 51);
  letter-spacing: -0.5px;
}

.how-description {
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
  color: rgb(85, 85, 85);
}

.step-img {
  width: 35%;
}
.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}
.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}
.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
