header {
  background-color: #fdf2e9;
  display: flex;
  height: 80px;
  align-items: center;
}
.main-nav,
.hero-section {
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 22px;
}

.main-nav-list {
  display: flex;
  justify-content: end;
  list-style: none;
  margin-bottom: 0;
  gap: 30px;
}

.nav-item {
  font-size: 18px;
  color: #333;
  font-weight: 500;
  text-decoration: none;
}

.try-btn {
  background-color: #cf711f;
  color: #fff;
  padding: 12px 18px;
  border-radius: 9px;
}

.hero {
  background-color: #fdf2e9;
  padding: 50px 0;
}

.primary-heading {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 1;
  color: #333;
}

.description {
  font-size: 22px;
  color: #555;
  margin-bottom: 40px;
}

.start-btn {
  background-color: #cf711f;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 600;
  border-radius: 9px;
  padding: 16px 32px;
}

.learn-btn {
  background-color: #fff;
  color: #555;
  border: none;
  font-size: 20px;
  font-weight: 600;
  border-radius: 9px;
  padding: 16px 32px;
}

.hero-btn-section {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.customer-section {
  display: flex;
  gap: 10px;
  align-items: center;
}

.customer {
  display: flex;
}

.cust-img {
  height: 45px;
  border-radius: 50%;
  margin-right: -20px;
  border: 3px solid #fdf2e9;
}

.cust-img:last-child {
  margin-right: 0px;
}

.deliver-text {
  font-size: 18px;
  font-weight: 600;
  color: #555;
  margin-bottom: 0;
}

.deliver-text span {
  color: #cf711f;
  font-weight: 700;
}
